* {
  margin: 0;
  padding: 0;
  font-family: 'Comic Neue', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.wrapper {
  font-size: 1em;
  color: rgba(0, 0, 0, 0.8);
}

.wrapper header {
  font-size: inherit;
  overflow: hidden;
  background: #ff004c;
  text-align: center;
}

.wrapper header .heading {
  color: white;
}

.wrapper header h1 {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 3em;
  margin: 0.25em auto;
}

.wrapper header p {
  margin: 0.3em auto;
  font-weight: lighter;
}

.wrapper .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .content .borderAdder {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.wrapper .content .canvas {
  padding: 3% 0;
}

.wrapper .content .canvas #floatCanvas #c {
  margin: 0 auto;
  display: block;
  -webkit-box-shadow: 0px 0px 15px 2px #a8a8a8;
          box-shadow: 0px 0px 15px 2px #a8a8a8;
}

.wrapper .content .toRight {
  border-left: 1px solid #aaa;
}

.wrapper .content .toRight .parentPin {
  overflow: hidden;
  padding: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper .content .toRight .parentPin .pin {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.wrapper .content .toRight .parentPin .pin #pin {
  width: 100%;
  overflow: hidden;
}

.wrapper .content .toRight .parentPin .save {
  padding: 0;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  overflow: hidden;
}

.wrapper .content .toRight .parentPin .save .saveBtn1 {
  display: block;
  margin: auto;
  width: 100%;
}

.wrapper .content .toRight .parentPin .imginp {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  max-width: 50%;
  overflow: hidden;
}

.wrapper .content .toRight .app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .content .toRight .app #plus {
  width: 25%;
  max-width: 50%;
}

.wrapper .content .toRight .app .appendie {
  margin: 1em;
  -webkit-box-shadow: 0 0 15px 2px #a8a8a8;
          box-shadow: 0 0 15px 2px #a8a8a8;
  width: 100%;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper .content .toRight .app .appendie .appendieInput {
  margin-bottom: 1em;
}

.wrapper .content .toRight .app .appendie .appendieLabel {
  margin: 0.5em;
}

.wrapper .content .toRight .app .appendie .subAppendie {
  background-color: #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2em;
}

@media all and (max-width: 830px) {
  .wrapper header h1 {
    font-size: 1.5em;
  }
  .wrapper header p {
    font-size: 0.6em;
  }
  .wrapper .content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .wrapper .content .borderAdder {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .wrapper .content .canvas {
    padding: 3%;
  }
  .wrapper .content .canvas #floatCanvas {
    width: 100%;
    left: 0;
    top: 0;
  }
  .wrapper .content .canvas #floatCanvas #c {
    margin: auto;
  }
  .wrapper .content .toRight {
    border: none;
  }
  .wrapper .content .toRight .parentPin {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .wrapper .content .toRight .parentPin .pin {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 1em;
  }
  .wrapper .content .toRight .parentPin .save {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 1em;
  }
  .wrapper .content .toRight .parentPin .imginp {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 1em;
    width: 100%;
    max-width: 100%;
  }
}

@media all and (max-width: 500px) {
  .content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .content .borderAdder {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .content .canvas {
    padding: 0;
  }
  .content .canvas #floatCanvas #c {
    margin: 0;
  }
}

@media all and (max-width: 290px) {
  .wrapper .content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .wrapper .content .borderAdder {
    width: 100%;
  }
  .wrapper .content .canvas #floatCanvas #c {
    margin: auto;
  }
}

button {
  padding: 0.25em;
}

/****************************/
.hide {
  display: none;
}
/*# sourceMappingURL=style.css.map */