*
{
    margin: 0;
    padding: 0;
    font-family: 'Comic Neue', sans-serif;
    box-sizing: border-box;
    transition-duration: 0.3s;
}
.wrapper
{
    font-size: 1em;
    color: rgba(0,0,0,0.8);
    header
    {
        font-size: inherit;
        overflow: hidden;
        text-align: center;
        .heading
        {
            color: white;
        }
        h1
        {
            font-family: 'Indie Flower',sans-serif;
            font-weight: 700;
            font-size: 3em;
            margin: 0.5em auto;
        }
        p
        {
            margin: 0.7em auto;
            font-weight: lighter;
        }
    }
    .intro{
        background-color: #def;
        text-align: center;
        padding: 10px;
        font-size: 1rem;
        h3{
            font-family: 'Comic Neue', sans-serif;
            font-size: 1.4em;
        }
        h3:hover{
            cursor: pointer;
        }
        li{
            list-style-type: none;
            font-size: 0.9em;
        }
    }
    .content{
        display: flex;
        .borderAdder{
            flex: 1;
        }
        .canvas{
            padding: 3% 0;
            #floatCanvas{
                #c{
                    margin: 0 auto;
                    display: block;
                    box-shadow: 0px 0px 15px 2px rgb(168, 168, 168);
                }
            }
        }
        .toRight{
            border-left: 1px solid #aaa;
            .parentPin{
                overflow: hidden;
                padding: 3%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .pin{
                    order: 3;
                    flex-basis: 30%;
                    #pin{
                        width: 100%;
                        overflow: hidden;
                    }
                }
                .save{
                    order: 2;
                    padding: 0;
                    flex-basis: 30%;
                    overflow: hidden;
                    .saveBtn1{
                        display: block;
                        margin: auto;
                        width: 100%;
                    }
                }
                .imginp{
                    order: 1;
                    flex-basis: 30%;
                    max-width: 50%;
                    overflow: hidden;
                }
            }
            .app{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                #plus{
                    width: 25%;
                    max-width: 50%;
                }
                .appendie
                {
                    margin: 1em;
                    box-shadow: 0 0 15px 2px rgb(168, 168, 168);
                    width: 100%;
                    padding: 1em;
                    display: flex;
                    flex-direction: column;
                    .appendieInput{
                        margin-bottom: 1em;
                    }
                    .appendieLabel{
                        margin: 0.5em; 
                    }
                    .subAppendie{
                        background-color: #ddd;
                        display: flex;
                        flex-direction: column;
                        padding: 2em;
                    }
                }
            }
        }
    }
    footer{
        margin-top: 10px;
        text-align: center;
        padding: 2em;
        li{
            list-style-type: none;
            color: white;
            a{
                display: inline-block;
                color: white;
                opacity: 0.7;
            }
            a:hover{
                opacity: 1;
            }
        }
    }
}

@media all and (max-width: 830px){
    .wrapper{
        header{
            h1{
                font-size: 2em;
            }
            p{
                font-size: 1em;
            }
        }
        .intro{
            li{
                font-size: 1em;
            }
        }
        .content{
            flex-wrap: wrap;
            .borderAdder{
                flex-basis: 100%;
            }
            .canvas{
                padding: 3%;
                #floatCanvas{
                    width: 100%;
                    left: 0;
                    top: 0;
                    #c{
                        margin: auto;
                    }
                }
            }
            .toRight{
                border: none;
                .parentPin{
                    flex-wrap: wrap;
                    .pin{
                        flex-basis: 100%;
                        margin-bottom: 1em;   
                    }
                    .save{
                        flex-basis: 100%;
                        margin-bottom: 1em;
                    }
                    .imginp{
                        flex-basis: 100%;
                        margin-bottom: 1em;
                        width: 100%;
                        max-width: 100%;
                    }
                }
            }
        }
    }
}
@media all and (max-width: 500px){
    .content{
        flex-wrap: wrap;
        .borderAdder{
            flex-basis: 100%;
        }
        .canvas{
            padding: 0;
            #floatCanvas{
                #c{
                    margin: 0;
                }
            }
        }
    }
}
@media all and (max-width: 290px){
    .wrapper{
        .content{
            flex-wrap: wrap;
            .borderAdder{
                width: 100%;
            }
            .canvas{
                #floatCanvas{
                    #c{
                        margin:auto;
                    }
                }
            }
        }
    }
}


button{
    padding: 0.25em;
}
/****************************/
.hide{
    display: none;
}